@model IEnumerable<WebHotelPagina.Models.ListadoHoteles>

@{
    ViewData["Title"] = "Listado de Hoteles";
}

<h1>
    Listado de Hoteles</h1>

<p>
    <a asp-action="NuevoHotel" class="btn btn-primary" style="display: inline-block;">Crear Nuevo Hotel</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
               CODIGO
            </th>
            <th>
               NOMBRE DE HOTEL
            </th>
            <th>
                CIUDAD
            </th>
            <th>
               DIRECCION
            </th>
            <th>
               TELEFONO
            </th>
            <th>
                IMAGEN REFERENCIAL
            </th>
            <th>
                ¿ESTA ACTIVO?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>

                
                <td>
                    <img src="@item.imagen" alt="Imagen" width="170" height="170" class="rounded mx-auto d-block">
                </td>

                <td>
                    @if (item.estado)
                    {
                        <button class="btn btn-success" disabled>SI</button>
                    }
                    else
                    {
                        <button class="btn btn-danger" disabled>NO</button>
                    }
                </td>




            <td>
                    @Html.ActionLink("Editar", "EditHotel", new {   id=item.id }, new { @class = "btn btn-primary" })
                    @if (item.estado)
                    {
                        @Html.ActionLink("Desactivar Hotel", "DesactivarTipo", new { id = item.id }, new { @class = "btn btn-info" })
                    }
                    else
                    {
                        @Html.ActionLink("Activar Hotel", "ActivarTipo", new { id = item.id }, new { @class = "btn btn-info" })

                    }
                 
                
                </td>
        </tr>
}
    </tbody>
</table>
