@model WebHotelPagina.Models.Reservas

@{
    ViewData["Title"] = "IndexReserva";
}

 

<div>
    <h4>Reserva Generada Exitosamente!!</h4>
    <hr />
    <dl class="row">
         
         
        <dt class = "col-sm-2">
           Habitacion Reservada:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.habitacion)
        </dd>
        <dt class = "col-sm-2">
            Fecha de la reserva
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_reserva)
        </dd>
        <dt class = "col-sm-2">
            Fecha de entrada
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_entrada)
        </dd>
         
        <dt class = "col-sm-2">
            Dias Reservados:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dias_reserva)
        </dd>
        <dt class = "col-sm-2">
           Monto cancelado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio_total)
        </dd>
    </dl>
</div>
<div> 
    <a asp-action="IndexHabitaciones">Regresar</a>
</div>
