@model IEnumerable<WebHotelPagina.Models.ListadoHabitaciones>

@{
    ViewData["Title"] = "IndexHabitaciones";
}
<h2>Tipos de Habitacion</h2>
<div>
    <!-- Botón para mostrar todos los productos -->
    <a id="btnMostrarTodos" class="btn btn-primary btn-floating">Mostrar todos</a>

    <!-- Botones flotantes de categorías -->
    @foreach (var tipo in ViewBag.TIPO)
    {
        <a href="@Url.Action("IndexHabitaciones", new { id = tipo.Value, hotel = ViewBag.SelectedHotel, reserva=ViewBag.SelectedReserva  })" class="btn btn-primary btn-floating @(ViewBag.SelectedCategory != null && Convert.ToInt32(ViewBag.SelectedCategory) == Convert.ToInt32(tipo.Value) ? "selected" : "")">@tipo.Text</a>
    }
</div>

<h2>Hoteles</h2>
<div>
    <a id="btnMostrarHoteles" class="btn btn-primary btn-floating">Mostrar todos</a>
    @foreach (var hotel in ViewBag.HOTEL)
    {
        <a href="@Url.Action("IndexHabitaciones", new { hotel = hotel.Value, id = ViewBag.SelectedCategory, reserva=ViewBag.SelectedReserva  })" class="btn btn-primary btn-floating @(ViewBag.SelectedHotel != null && Convert.ToInt32(ViewBag.SelectedHotel) == Convert.ToInt32(hotel.Value) ? "selected" : "")">@hotel.Text</a>
    }
</div>

</BR></BR>


<div class="container">
    <div class="row">
        @foreach (var opcion in ViewBag.reserva)
        {
            <div class="col-md-6">
                @{
                    var isSelected = opcion.id == ViewBag.SelectedReserva;
                    var cssClass = isSelected ? "btn btn-primary btn-floating btn-lg w-100 active" : "btn btn-primary btn-floating btn-lg w-100";
                }
                <a href="@Url.Action("IndexHabitaciones", new { hotel = ViewBag.SelectedHotel, id = ViewBag.SelectedCategory, reserva = opcion.id })" class="@cssClass" value="@opcion.id">@opcion.valor</a>
            </div>
        }
    </div>
</div>

<script>
    // Obtener el elemento del botón "Mostrar todos"
    var btnMostrarTodos = document.getElementById("btnMostrarTodos");

    // Obtener el elemento del botón "Mostrar todos" para hoteles
    var btnMostrarHoteles = document.getElementById("btnMostrarHoteles");
     

    // Obtener el valor actual de "Tipo de Habitación"
    var tipoSeleccionado = @(ViewBag.SelectedCategory != null ? ViewBag.SelectedCategory : "null");
    var hotelSeleccionado = @(ViewBag.SelectedHotel != null ? ViewBag.SelectedHotel : "null"); 
    var reservaSeleccionado = @(ViewBag.SelectedReserva != null ? ViewBag.SelectedReserva : "null");


    // Asignar el evento click a ambos botones "Mostrar todos"
    if (btnMostrarTodos && btnMostrarHoteles) {
        btnMostrarTodos.addEventListener("click", function () {
            window.location.href = "/Index/IndexHabitaciones?id=null&hotel=" + hotelSeleccionado + "&reserva=" + reservaSeleccionado;
        });

        btnMostrarHoteles.addEventListener("click", function () {
            window.location.href = "/Index/IndexHabitaciones?id=" + tipoSeleccionado + "&hotel=null&reserva=" + reservaSeleccionado;
        });
    }

 
 



</script>

 

<style>
    .btn-floating.active {
        /* Estilos para resaltar la categoría seleccionada */
        background-color: #ff0000; /* Ejemplo: fondo rojo */
        color: #ffffff; /* Ejemplo: texto blanco */
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        align-items: start;
    }

    .item {
        min-height: 300px;
        height: auto;
        margin: 1%;
        text-align: center;
    } 

    .selected {
        background-color: green;
        color: white; /* Color de texto blanco para que sea legible sobre el fondo verde */
    }


</style>


<div class="card-container">
    @if (Model.Any(item => item.id > 0))
    {

    @foreach (var item in Model)
    {
        
        <div class="item">
            <div>
                <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
                    <div class="card-body px-3 pt-3 pb-1 row">
                        <div class="col-12">
                            <label class="float-left">@Html.DisplayFor(modelItem => item.nombre)</label>
                        </div>
                         
                    </div>
                    <div style="position: relative;">
                        <img class="card-img-top img-fluid d-block mx-auto mb-3" src="@item.imagen" alt="Imagen" width="300" height="300">

                        @if (item.estado)
                        {
                            <span class="badge badge-success" style="position: absolute; top: 10px; left: 10px;">DISPONIBLE</span>
                        }
                        else
                        {
                            <span class="badge badge-danger" style="position: absolute; top: 10px; left: 10px;">RESERVADA</span>
                        }
                    </div>


                    <div class="card-body p-1 px-3 row">
                        <div class="col-6">
                            <span class="badge p-2 border w-100 text-dark" style="background-color:lavenderblush">@Html.DisplayFor(modelItem => item.precio)</span>
                        </div>
                        <div class="col-6">
                            <span class="badge p-2 border w-100 text-dark" style="background-color:lavenderblush">@Html.DisplayFor(modelItem => item.tipo)</span>
                        </div>
                        <div class="col-12" >
                            <span class="badge p-2 border w-100 text-dark" style="background-color:lavenderblush">@Html.DisplayFor(modelItem => item.hotel)</span>
                        </div>
                        <div class="col-12 pt-2" style="font-size:13px; text-align:justify">
                            <p>@Html.Raw(item.descripcion)</p>
                        </div>
                        <div class="col-12 pt-1">
                            <a asp-action="DetailsHabitacion" asp-route-id="@item.cod_habitacion" class="btn btn-dark form-control btn-sm p-2" style="height:40px">VER DETALLE</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        } 

    }

    else
    {
        <h4>NO HAY HABITACIONES DISPONIBLES</h4>
    }

</div>

 


 
 

