@model IEnumerable<WebHotelPagina.Models.TipoHabitacion>

@{
    ViewData["Title"] = "Listado de Tipos de Habitacion";
}

<h1>Listado de Tipos de Habitacion</h1>
<p>
    <a asp-action="NuevoTipo" class="btn btn-primary" style="display: inline-block;">Crear Nuevo Tipo de Habitacion</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                CODIGO
            </th>
            <th>
               DESCRIPCION
            </th>
            <th>
                CAPACIDAD PERSONAS
            </th>
            <th>
                ¿ESTA ACTIVO?
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.capacidad) persona(s)
            </td>
                <td>
                    @if (item.estado)
                    {
                        <button class="btn btn-success" disabled>SI</button>
                    }
                    else
                    {
                        <button class="btn btn-danger" disabled>NO</button>
                    }
                </td>
            
            <td>
                    @Html.ActionLink("Editar", "EditTipos", new { id = item.id }, new { @class = "btn btn-primary" })
                    
                    @if (item.estado)
                    {
                        @Html.ActionLink("Desactivar Tipo", "DesactivarTipo", new { id = item.id }, new { @class = "btn btn-info" })
                    }
                    else
                    {
                        @Html.ActionLink("Activar Tipo", "ActivarTipo", new { id = item.id }, new { @class = "btn btn-info" })

                    }
                
                </td>


        </tr>
}
    </tbody>
</table>
