@model IEnumerable<WebHotelPagina.Models.Reservas>

@{
    ViewData["Title"] = "Listado de Reservas";
}

<h1>Listado de Reservas</h1>


<div class="form-group">
    <label class="control-label">USUARIOS </label>
    <form method="post" action="@Url.Action("IndexListadoReservas")">
        <select name="usu" id="usu" class="form-select">
            <option value="">Seleccione...</option>
            @foreach (var usuario in ViewBag.USU as SelectList)
            {
                <option value="@usuario.Value">@usuario.Text</option>
            }
        </select>
        <button type="submit" class="btn btn-primary">Seleccionar</button>
    </form>
</div>

<div class="container">
    <div class="row">
        @foreach (var opcion in ViewBag.reserva)
        {
            <div class="col-md-6">
                @{
                    var isSelected = opcion.id == ViewBag.SelectedReserva;
                    var cssClass = isSelected ? "btn btn-primary btn-floating btn-lg w-100 active" : "btn btn-primary btn-floating btn-lg w-100";
                }
                <a href="@Url.Action("IndexListadoReservas", new {usu=ViewBag.SelectedUsu, estado = opcion.id })" class="@cssClass" value="@opcion.id">@opcion.valor</a>
            </div>
        }
    </div>
</div>

@if (Model.Any(item => item.id_reserva > 0))
    {

 
<table class="table">
    <thead>
        <tr>
            <th>
                CODIGO
            </th>
            <th>
                FECHA DE RESERVA
            </th>
            <th>
                USERNAME
            </th>
            <th>
               CORREO DE CONTACTO
            </th>
            <th>
               NOMBRE DE LA HABITACION
            </th>
            
            <th>
                FECHA DE ENTRADA
            </th>
            <th>
                FECHA DE SALIDA
            </th>
            <th>
                DIAS
            </th>
            <th>
                MONTO CANCELADO
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_reserva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormattedFechaReserva)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.habitacion)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.FormattedFechaEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormattedFechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dias_reserva) dia(s)
            </td>
            <td>
               s/. @Html.DisplayFor(modelItem => item.precio_total)
            </td>
            

        </tr>
}
    </tbody>
    </table>
   
        
    }

else
{
    <h4>NO HAY RESERVAS DISPONIBLES </h4>
}


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

 