@model IEnumerable<WebHotelPagina.Models.ListadoHoteles>

<style>
    /* Establece un tamaño fijo para las imágenes en el carrusel */
    .carousel-item img {
        width: 1500px; /* Ancho deseado */
        height: 600px; /* Alto deseado */
        object-fit: cover; /* Escala la imagen para llenar el tamaño especificado */
        display: block;
        margin: 0 auto; /* Centra la imagen horizontalmente */
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
         color: black; /* Cambia el color de fondo a negro */
    }

    .btn-floating.active {
        /* Estilos para resaltar la categoría seleccionada */
        background-color: #ff0000; /* Ejemplo: fondo rojo */
        color: #ffffff; /* Ejemplo: texto blanco */
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        align-items: start;
    }

    .item {
        min-height: 300px;
        height: auto;
        margin: 1%;
        text-align: center;
    }
</style>

<!-- Carrusel de Imágenes -->
<div id="imageCarousel" class="carousel slide" data-ride="carousel">
    <center>
        <ol class="carousel-indicators">
            <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#imageCarousel" data-slide-to="1"></li>
            <li data-target="#imageCarousel" data-slide-to="2"></li>
            <!-- Agrega más indicadores según la cantidad de imágenes -->
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.actualidadviajes.com/wp-content/uploads/2017/09/tipos-alojamiento-hoteles.jpg" alt="Imagen 1">
                <div class="carousel-caption">
                    <h3>VIAJA A LOS MEJORES DESTINOS</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://www.entornoturistico.com/wp-content/uploads/2022/04/Alberca-de-hotel-660x330.jpg" alt="Imagen 2">
                <div class="carousel-caption">
                    <h3>TENEMOS LAS MEJORES HABITACIONES CON LAS MEJORES CALIFICACIONES</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://www.braintrust-cs.com/wp-content/uploads/2020/12/tourism-4438308_1280-1080x675.jpg" alt="Imagen 3">
                <div class="carousel-caption">
                    <h3>ORGANIZA TU PLAN DE VIAJE CON NOSOTROS</h3>
                </div>
            </div>
            <!-- Agrega más elementos .carousel-item según la cantidad de imágenes -->
        </div>

        <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </center>
</div>
</BR>
</BR>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form id="search-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ubicacion" class="control-label">Ubicación:</label>
                        <select class="form-select"  id="departamento" name="departamento">
                            <option value="">Seleccione...</option>
                            @foreach (var departamento in ViewBag.Departamentos as SelectList)
                            {
                                <option value="@departamento.Value">@departamento.Text</option>
                            }
                        </select>
                    </div>
                </div>
               

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
        <center>
        <div class="container">
            <div class="row" id="results-container">
                <ul id="hotel-list">


                </ul>
            </div>
        </div>
        </center>





    </div>
</div>

 





</BR>
</BR>








<center>
    <h2>
        TOP DE HOTELES
    </h2>
</center>
<div class="card-container">
    
    @foreach (var item in Model)
    {
        <div class="item">
            <div>
                <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
                    <div class="card-body px-3 pt-3 pb-1 row">
                       

                    </div>
                    <img class="card-img-top img-fluid d-block mx-auto mb-3" src="@item.imagen" alt="Imagen" width="300" height="300"> 
                    
                    <div class="col-12">
                        <label class="float-left">@Html.DisplayFor(modelItem => item.nombre)</label>
                    </div>
                    <div class="card-body p-1 px-3 row">
                        @*<div class="col-6">
                            <span class="badge p-2 border w-100 text-dark" style="background-color:lavenderblush">@Html.DisplayFor(modelItem => item.precio)</span>
                        </div>
                        <div class="col-6">
                            <span class="badge p-2 border w-100 text-dark" style="background-color:lavenderblush">@Html.DisplayFor(modelItem => item.tipo)</span>
                        </div>*@
                        <div class="col-12 pt-2" style="font-size:13px; text-align:justify">
                            <p>@Html.Raw(item.direccion)</p>
                        </div>
                        <div class="col-12 pt-1">
                            <a href="@Url.Action("IndexHotel", "Home", new { hotel = item.id })" class="btn btn-dark form-control btn-sm p-2">VER HOTEL</a>

                         </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script src="https://js.braintreegateway.com/web/dropin/1.37.0/js/dropin.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $("#search-form").submit(function (e) {
            e.preventDefault(); // Prevenir la acción predeterminada del formulario
            var formData = {
                departamento: $("#departamento").val(),
            };

            $.ajax({
                url: '@Url.Action("GetHotelesxDepartamento", "Home")',
                type: 'POST',
                data: formData,
                success: function (data) {
                    // Limpiar la lista de hoteles
                    var hoteles = $("#hotel-list");
                    hoteles.empty();

                    // Verificar si hay hoteles disponibles
                    if (data.length > 0) {
                        // Recorrer los resultados y agregar elementos a la lista
                        for (var i = 0; i < data.length; i++) {
                            var hotel = data[i];
                            var listItem = $("<li class='list-group-item'></li>");
                            listItem.addClass('d-flex');
                            var contenido = `
            <div class="d-flex">
                <img src="${hotel.imagen}" class="img-thumbnail" alt="Hotel Image" style="width: 250px;">
                <div class="flex-fill pl-3">
                    <h4 class="mb-1"><strong>${hotel.nombre}</strong></h4>
                    <div class="row">
                        <div class="col-6">
                            <span class="badge p-2 border text-dark" style="background-color: lavenderblush; display: inline-block;">${hotel.ciudad}</span>
                        </div>
                        <div class="col-6">
                            <span class="badge p-2 border text-dark" style="background-color: #c1e6c2 ; display: inline-block;">${hotel.telefono}</span>
                        </div>
                    </div>
                    <p class="mb-1">${hotel.direccion}</p>
                </div>
                &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <div class="ml-auto"> <!-- Mover a la derecha -->
                    <a href="@Url.Action("IndexHotel", "Home")?hotel=${hotel.id}" class="btn btn-primary mb-2">Ver Hotel</a>
                    <a href="@Url.Action("IndexHabitaciones", "Index")?hotel=${hotel.id}" class="btn btn-success mb-2">Ver Habitaciones</a>
                </div>
            </div>`;
                            listItem.html(contenido);
                            hoteles.append(listItem);
                        }
                    } else {
                        // Agregar mensaje de "No hay hoteles en esta dirección"
                        hoteles.append("<li class='list-group-item'>No hay hoteles disponibles en este departamento</li>");
                    }
                },
                error: function () {
                    // Manejo de errores si es necesario
                },
            });
        });
    });
</script> 